body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(135, 130, 167);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 22pt;
    text-transform: uppercase;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #25b65c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
